.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 21px;
  list-style: none;
  padding: 0;
}

.card {
  max-width: 282px;
  height: 361px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  background-color: white;
}

.card:hover {
  cursor: pointer;
}

.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
}

.card__description {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 31px 21px;
  box-sizing: border-box;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  color: black;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.card__like-button {
  width: 24px;
  height: 24px;
  background-image: url("/images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  flex-shrink: 0;
  background-color: transparent;
}

.card__like-button:hover {
  opacity: 50%;
}

.card__like-button_is-active {
  background-image: url("/images/dark-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card__delete-button {
  position: absolute;
  z-index: 1;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background: url("/images/Trash.svg") no-repeat center center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.card__delete-button:hover {
  opacity: 60%;
}

.card__delete-button_hidden {
  display: none;
}

.card__delete-button_visible {
  display: block;
}

@media screen and (max-width: 880px) {
  .cards__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .card {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .cards__list {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 90%;
    margin: auto;
  }
}
