.header {
  display: flex;
  flex-direction: column;
  height: 72px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 880px;
  padding: 40px 20px 0;
  box-sizing: border-box;
  width: 100%;
}

.header__logo {
  width: 133px;
}

.header__line {
  border: none;
  height: 2px;
  background-color: #545454;
  width: 100%;
}
