.imagePopUp__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 2;
}

.imagePopUp__second-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imagePopUp__image {
  max-width: 75vw;
  max-height: 75vh;
  background-color: aliceblue;
}

.imagePopUp__close-button {
  background-image: url("/images/close-icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.imagePopUp__close-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.imagePopUp__title {
  margin: 10px 0 0;
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

@media screen and (max-width: 320px) {
  .imagePopUp__close-button {
    width: 25px;
    height: 25px;
    top: -30px;
    right: -30px;
  }
}

@media screen and (max-width: 880px) {
  .imagePopUp__close-button {
    width: 25px;
    height: 25px;
    top: -30px;
    right: -30px;
  }
}
