.popUpCard__background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
}

.popUpCard {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.popup__opened {
  display: block;
}

.popUpCard__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.popUpCard__close-button {
  position: absolute;
  top: -35px;
  right: -35px;
  max-width: 45px;
  align-self: self-end;
}

.popUpCard__close-button:hover {
  cursor: pointer;
}

.popUpCard__form-container {
  width: 430px;
  height: 330px;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popUpCard__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 29.74px;
}

@media screen and (max-width: 880px) {
  .popUpCard__container,
  .popUpCard__opened,
  .popUpCard__form-container {
    max-width: 70vw;
  }

  .popUpCard__close-button {
    top: -39px;
    right: 0;
    max-width: 26px;
    align-self: self-end;
  }

  .popUpCard__form {
    gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .popUpCard__form {
    gap: 16px;
  }
}
